<div id="octoconsole_terminal"></div>
<script>
    window.octoconsole = {
        ...(window.octoconsole || {}),
        ws_token: '{{ plugin_octoconsole_ws_token }}',
        ws_port: '{{ plugin_octoconsole_ws_port }}'
    }
</script>